
.game{
    width: 30rem;
    background-color: black;
    height: 25rem;
    padding: 10%;
    border: 2px solid;
    justify-content: left;
 align-items: left;

}

.actionPlayer{
    display: inline-flex;
}
.photo {
    width: 20%; 
}
.gifs{

    height: 71%;
    width: 50%; 

}
#playerGif{
    height: 18rem;
}
#monsterImg{
    height: 16rem;
    /* height: fit-content; */
    width: 40%;
}
 