.Game {

}

.div1{
    width: 30rem;
    background-color: black;
    height: 25rem;
    padding: 10%;
    border: 2px solid;
    justify-content: left;
 align-items: left;

}

.div2{
    display: inline-flex;
}
.photo {
    width: 20%; 
}
.gifs{

    height: 80%;
    width: 50%; 

}
 .bar{
    display: flex;
 }